*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
 

/*Empieza Header*/
.header{
    display:flex;
    height: 150px;
    width: 100%;
    background-image:url(../img/d2a424d8-e178-4a29-8b96-200c16348826.jpg);
    background-size:contain;
   justify-content: space-between;
   align-items:center;
   color: aliceblue;
   border: black 2px solid;
   position: fixed;
 
   z-index: 1;
}

 header{
display: grid;
grid-template-columns: 0.8rm 1rm 1rm;
grid-template-rows: 1rm;
 }

.hamburguesa{
    display: none; /* Mantener el menu oculto por ahora */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;}

.enlace{

    color: azure;
    display: inline-block;
    justify-content: center;
    text-align: center;
   text-shadow: rgb(26, 15, 15) 2px 1px; 
}


.navar:hover{
    border-color: black 3px solid; 
    cursor: pointer; 
}


h1{
    display:grid;
    font-family: none;
    font-size: 38px;
text-decoration: dotted #ffe3c1 #3d94e0 3px;
}

.description-inicio{

    display:grid;
    font-family: none;
    font-size: 38px;
    text-shadow: 3px 3px 6px rgb(4, 4, 5);
    text-align: center;
}


 .header__logo{
   display:flex;
   width: 120px;
    border-radius: 100px;
    
}

/* Termina el Heder*/


/*Empieza main--- con bienvenida*/

.main-parrafo{

    display: flex;
    font-size: 18px;
    color: #050505;
    text-decoration: solid;
    font-family: sans-serif;
    max-width: 100%;
    white-space: normal;
    float:right;;
    text-decoration: 2px 3px 5px rgb(199, 117, 203);
   text-wrap: wrap;

}

.main-parrafo2{
    display: flex;
    font-size: 17px;
    color: #0b0909;
    text-decoration: solid;
    font-family: sans-serif;
    float:right;;
    text-decoration: 2px 3px 5px rgb(199, 117, 203);
   text-wrap: wrap;
  white-space: normal;
}



.card-1{
    display: block;
    position: relative;
    left: 200px;
    width: 60%;
    border: #f5f5dc39 solid 4px;
    justify-items: center;
    align-items: center;
    padding: 3px;
}

.card-1:hover{
    background-color: #f6f084;
    cursor: pointer;
}

.card-title{
font-size: 34px;
text-align: center;
text-decoration: dashed;
color: rgba(0, 0, 0, 0.538);

}

.card-text{
    font-size: 20px;
}

.card-2:hover{
    background-color: #f6f085;
    cursor: pointer;
}

.card-2{
    display: block;
    position: relative;
    left: 200px;
    width: 60%;
    border: #f5f5dc39 solid 4px;
    padding: 3px;
    background-color: aliceblue;
    justify-items: center;
    align-items: center;
}

/*Termina bienvenida*/



/*Comienza "conocenos" y Nuestros productos*/

.conocer{
    display:flex;
    font-size: 30px;
    text-shadow: 3px 3px 6px #2a2cc4;
    position: relative;
    left: 500px;
    padding-top: 200px;}


.main-parrafo4{
    display: flex;    
    font-size: 18px;
    border-color: #111213;
    text-align: right;
    margin-right:0;
    text-shadow: 2px 2px  4px rgb(154, 68, 118);
    float: right;
    overflow: hidden;
    text-wrap: wrap;
}

.main-video2{
    max-width: 100%;
    height: auto;
}

.main-parrafo5{
    display: flex;    
    font-size: 18px;
    border-color: #111213;
    text-align: right;
    margin-right:0;
    text-shadow: 2px 2px  4px rgb(154, 68, 118);
    float: right;
    overflow: hidden;
    text-wrap: wrap;
}

/* Nuestros productos*/

h3{
    display:flex;
    max-width: 100%;
    font-size: 30px;
    text-shadow: 6px 3px 5px rgb(61, 88, 186);
    text-align: center;
    justify-content: center;
}

.main3{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr;
    margin:none;
    

}

.colum{
 border: #000000 3px solid;
 padding: 2px;
}

.colum:hover{
     background-color:#076207ae;
     cursor: pointer;
     transform: scale3d( top, 1.2, 1.2, 1.2)
}

main div img{
    max-width: 100%;
    height: auto;;
    flex-wrap: wrap;

}

.parrafo{
    display: flex;
    color: #fff2f2;
    text-decoration: solid;
    text-align: justify;
    align-self: center;
    overflow: hidden;
    flex-wrap: wrap;
    margin:2px;
    text-wrap:wrap ;
    font-size: 18px;
}


.img-main1{
  display:flex;
  position: relative;
  left:300px;
  border: 3px black solid;
  background-image: url(../img/fondo\ 1.jpg);
  max-width: 50%;
 flex-wrap: wrap;
}

.img-main2{
    max-width:40%;
    display:flex;
    position: relative;
    left: 30% ;
    border:3px #191616 solid;
    background-image: url(../img/descarga.jpeg);
    flex-wrap: wrap;
}

h5{
    font-size: 27px;
    display:flex;
    text-align: center;
    justify-content: center;
    text-shadow: 4px  4px 6px #32302a
}


 
 


/*termina conocenos y nuestros productos*/
/*Empieza contactos*/


.formulario-2{

display:block;
text-align: right;
font-size: 12px;
margin-right:10px;
padding: 27px;
text-decoration: solid;
color: #f0f8ff;
position: relative;
right: 40%;
  }

#comentarios{
    height:130px;
    width:auto;
}

form div label{
font-size: 20px;
padding: 5px;}


.header-2{
    display:flex;
    height: 150px;
    width: 100vw;
    background-image:url(../img/d2a424d8-e178-4a29-8b96-200c16348826.jpg);
    background-size:contain;
   justify-content: space-between;
   align-items:center;
   color: aliceblue;
   border: black 2px solid;

}


.enlace-2{

    color: azure;
    display: inline-block;
    justify-content: center;
    text-align: center;
   text-shadow: rgb(26, 15, 15) 2px 1px; 
}


.navar-2:hover{
    border-color: black 3px solid; 
    cursor: pointer; 
}

.header__logo-2{
    display:flex;
    width: 120px;
     border-radius: 100px;}


     

/*-------Termina Contacto*/


/*comienza el Footer*/

footer{
    
    display:flex;
    background-image: url(../img/footer.webp);
    width: 100%;
    height: 300px;
    background-size: contain; 
    border-style:solid;
    text-align: center;
    justify-content:space-between;
  
    
}  


.redes{
  position:relative;
  bottom: 40px;
  left: 11px;
  display: grid;
  color:#faebd7;
  border-radius: 40px;
  position: fixed;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}


    


.redes:hover{
   background-color: #f0f8ff;
    cursor: pointer;
}

   

.final-footer{
    display: flex;
    color: #f0f8ff;
    flex-direction: row 2fr;
    position: relative;
    right: 460px;
    top: 60%;
}




    .body{

        width: 100%;
        height:100%;
        background-image: url(../img/fondo\ body.jpg);
        background-repeat: repeat;
        backface-visibility: visible;
        float: left;
        font-size:18px;
        color: #f0f8ff;
        background-color: #1a1310;
       
        
    }
    





@media screen and ( max-width: 700px)
/* -------media-queries-------------------------Header----------*/


{  .header{
    background-color: hwb(35 43% 7%);
   display: flex; 
   height: 30px;
   align-items: center;
   flex-direction: column;
}
.header__logo{ 
            display: flex;
            justify-content: center;
            align-content: center;
              border-radius: 50%; 
                            
}
.enlace{
    color: azure;
    display: none;
    justify-content: center;
    text-align: center;
   text-shadow: rgb(26, 15, 15) 2px 1px; 
    }

.enlace.active{
    display: flex;

}

.hamburguesa{
    display: flex;
}
    
h1{
    display:grid;
    font-family: none;
    font-size: 16px;
    text-shadow: 3px 3px 6px black;
}



}
/*-------media-queries--------------------------main--------------*/
main{ 
    h1{
        font-size: 18px;
        text-wrap: wrap;
    
}
    .card-1 and .card-2 {
        width: 200px;
    }     
    
.main-video2{
    height: auto;
    max-width:70%;


 h3 {font-size: 18px;
    color: #f0f8ff;
 }
 .main3 {
    display: flex;
    grid-template-columns: auto;
 }
 .img-main1{
    left: 100px;
 }
 .termina {
    font-size: 150px;
  }

}
}

/*---------media-queries----------------------footer-------------*/
footer{
    width: 100%;
    height: 100px;
}
    .redes{
    position: relative;
    bottom: 20px;
    left:90%;
    border-radius: 20%;
    position: fixed;
    z-index: 1;

}
    .finalfooter{
    bottom: 0px;
    left:12%;
    font-size: 4px;
    color:#52413b;
    font-weight:bold;
}
    .formulario{
    display:block;
    font-size: 6px;
    margin-right: 8px;
    padding: 2px;
    text-decoration: solid;
    color: #f0f8ff;
    width: 50%;
    height: auto;
    text-align: center;
    justify-content: center;
}
    label{
    font-size: 3px;
    padding: 4px;  }



@media screen and (min-width: 700px) and (max-width:1200px)
/*----------------media-queries-------------------------Header----------*/


{ .header{
        display: block;
        height: 90px;
        width: 100%;
        color: #f0f8ff;
        background-image: url(../img/d2a424d8-e178-4a29-8b96-200c16348826.jpg)
    }

.header__logo{ position:relative;
              left:50%;
              border-radius: 50%; 
                            
}
.enlace{
    flex-wrap: wrap;
    color:#f0f8ff;
    background-color: #191616;
    position: relative;
    left: 90%;
}
/*-------media-queries--------------------------main--------------*/
main{ 
    h1{
        font-size: 18px;
        text-wrap: wrap;
    
}
    .card-1 and .card-2 {
        max-width:90%;
    }     
    
.main-video2{
    height: auto;
    max-width: 300px ;


 h3 {font-size: 18px;
    color: #f0f8ff;
 }
 .main3 {
    display: flex;
    grid-template-columns: auto;
 }
 .img-main1{
    left: 100px;
 }
 .termina {
    font-size: 150px;
  }

}
}

/*---------media-queries----------------------footer-------------*/
footer{
    width: 100%;
    height: 100px;
}
    .redes{
    position: relative;
    bottom: 20px;
    left:90%;
    border-radius: 20%;
    position: fixed;
    z-index: 1;

}
    .finalfooter{
    bottom: 0px;
    left:12%;
    font-size: 4px;
    color:#52413b;
    font-weight:bold;
    text-transform: uppercase;
}
    .formulario{
    display:block;
    font-size: 6px;
    margin-right: 8px;
    padding: 2px;
    text-decoration: solid;
    color: #f0f8ff;
    width: 50%;
    height: auto;
    text-align: center;
    justify-content: center;
}
    label{
    font-size: 3px;
    padding: 4px;  }
    }
    
