*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100;
    box-sizing: border-box;
}
 


.header{
    display:flex;
    height: 150px;
    width: 100%;
    background-image:url(img/d2a424d8-e178-4a29-8b96-200c16348826.jpg);
    background-size:contain;
   justify-content: space-between;
   align-items:center;
   color: aliceblue;
   border: black 2px solid;
 
   z-index: 1;
}

 header{
display: grid;
grid-template-columns: 0.8rm 1rm 1rm;
grid-template-rows: 1rm;
 }



.enlace{

    color: azure;
    display: inline-block;
    justify-content: center;
    text-align: center;
   text-shadow: rgb(26, 15, 15) 2px 1px; 
}


.navar:hover{
    border-color: black 3px solid;  
}


h1{
    display:grid;
    font-family: none;
    font-size: 38px;
    text-shadow: 3px 3px 6px black;
}


    

.description-inicio{

    display:grid;
    font-family: none;
    font-size: 38px;
    text-shadow: 3px 3px 6px black;
    text-align: center;
}





 .header__logo{
   display:flex;
   width: 120px;
    border-radius: 100px;
    
}

/* Termina el Heder*/


/*Empieza main--- con bienvenida*/

.main-parrafo{
    position: flex;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    overflow: hidden;
}

.video-main{
    display: flex;
    background-repeat: repeat;
    
}



.imgmain1{
border-radius: 20px black solid;
   position: relative; 
   margin-left: 400px ;
}



.mainparrafo{
    border-color: aliceblue;
    text-align: right;
    margin-right: 60px;
    text-shadow:2px black 4px rgb(188, 135, 66);
    overflow: hidden;
} 

h2{
    display:grid;
    font-family: none;
    font-size: 25px;
    text-shadow: 3px 3px 6px black;
}
/*Termina bienvenida*/

/*Comienza "conocenos" y Nuestros productos*/


h3{
    display:grid;
    font-family: none;
    font-size: 25px;
    text-shadow: 3px 3px 6px black;
    justify-content: center;
}

.imgmain1{
    display: block;
 z-index: -1;

    
}
/*termina conocenos y nuestros productos*/





footer{
    display:flex;
    background-image: url(img/footer.webp);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 100px;;
    background-size: contain; 
    border-style: groove;
    text-align: center;
    justify-content:space-between;

}  


    /*Falta arreglat texto de las redes y todo el footer. Hay que disminuir carrucel. organizar las letras*/

.finalfooter{
    display:contents;
    font-weight: bold;
     ;
         


          
}
body{

    background-color: rgb(184, 167, 145);
    backface-visibility: visible;
    background-blend-mode: luminosity;
}










/*
form{
    display: flex;
text-align: right;
font-size: 8px;
margin-bottom: 20px;
}

label{
    font-size: 20px;
}
button{
    font-size: 20px;
    border-color: blue;
    width: 100px;
    height: 50px;
    image-orientation: from-image;
}

 .finalfooter{

 
} 