*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100;
    
}
 


.header{
    display:flex;
    height: 150px;
    width: 100%;
    background-image:url(img/d2a424d8-e178-4a29-8b96-200c16348826.jpg);
    background-size:contain;
   justify-content: space-between;
   align-items:center;
   color: aliceblue;
   border: black 2px solid;
 
   z-index: 1;
}

 header{
display: grid;
grid-template-columns: 0.8rm 1rm 1rm;
grid-template-rows: 1rm;
 }



.enlace{

    color: azure;
    display: inline-block;
    justify-content: center;
    text-align: center;
   text-shadow: rgb(26, 15, 15) 2px 1px; 
}


.navar:hover{
    border-color: black 3px solid;  
}


h1{
    display:grid;
    font-family: none;
    font-size: 38px;
    text-shadow: 3px 3px 6px black;
}


    

.description-inicio{

    display:grid;
    font-family: none;
    font-size: 38px;
    text-shadow: 3px 3px 6px black;
    text-align: center;
}





 .header__logo{
   display:flex;
   width: 120px;
    border-radius: 100px;
    
}

/* Termina el Heder*/

.main{




}

.main-parrafo{
    position: flex;
    font-size: 16px;
    color: black;
    font-family: sans-serif;

}

.video-main{
    display: flex;
    align-items: center;
}



.imgmain1{
border-radius: 20px black solid;
   position: relative; 
   margin-left: 400px ;
}



.mainparrafo{
    border-color: aliceblue;
    text-align: right;
    margin-right: 60px;
    text-shadow:2px black 4px rgb(188, 135, 66);
} 

footer{
    background-image: url(img/footer.webp);
    bottom: 200px;
    background-size: cover; 
}


footer p {
    
    font-size: 20px;
text-decoration-line: underline;
    list-style-type: none;
padding-left: 10px;
display: flex;
height: 18px;
margin-bottom:none;

}

.redes{
    margin-bottom: none;
padding-bottom: none;
    align-items:center;
    display: flex;
    justify-content: right;
    background-size: contain;
    gap: 70px;
}


body{

    background-color: rgb(184, 167, 145);
    backface-visibility: visible;
    background-blend-mode: luminosity;
}





h3{
    text-align:center;
    font-size: 30px;
}



h5{
    text-align: center;
    align-items: center;
color: beige;
    font-size: 30PX; 
}

form{
text-align: right;
font-size: 10px;
margin-bottom: 20px;
}

label{
    font-size: 20px;
}
button{
    font-size: 20px;
    border-color: blue;
    width: 100px;
    height: 50px;
    image-orientation: from-image;
}

 .finalfooter{

 
} 